* {
    direction: rtl;
}

body {
    background: #AE46CE;
    background: -moz-linear-gradient(left, #AE46CE 0%, #A42896 50%, #C50C94 100%);
    background: -webkit-linear-gradient(left, #AE46CE 0%, #A42896 50%, #C50C94 100%);
    background: linear-gradient(to right, #AE46CE 0%, #A42896 50%, #C50C94 100%);
    min-height: 100vh;
    /* margin: 0; */
    position: relative;
}

.container {
    max-width: 1100px;
}

.remove-all-margin-padding-bk-white {
    margin: 0 !important;
    padding: 0 !important;
    background-color: white;
}

header {
    min-height: 100px;
    background: white;
}

header .burger {
    display: none;
}

header nav img {
    width: 80px;
    margin: 0 50px;
}

header nav a {
    color: #777;
    font-size: 1.2em;
    text-decoration: none;
    padding: 0 12px;
    font-weight: bold;
}

header nav a:hover {
    color: purple;
}

header nav .userAreaAfterLogin {
    display: none;
}

.aboutAndContact {
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: 650px;
    color: white;
    margin-bottom: 30px;
}

.about {
    /* opacity: 0.1; */
    width: 40%;
    font-size: 1.5rem;
}

.contact {
    /* opacity: 0.1; */
    width: 40%;
}

.contact form {
    border: 3px solid rgb(122, 17, 106);
    border-radius: 18px;
    width: 100%;
    padding: 5px;
}

footer {
    position: absolute;
    bottom: 0;
}

footer a {
    color: #777;
    font-size: 1.2em;
    text-decoration: none;
    padding: 0 12px;
    font-weight: bold;
}

footer a:hover {
    color: rgb(244, 31, 244);
}

.links {
    background: white;
}

/* floating cart */
.shopping_cart .badge {
    position: fixed;
    top: 17px;
    left: 17px;
    color: #47024d;
    text-align: center;
    font-size: 40px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 0px 0px 5px;
}

.badge:after {
    content: attr(value);
    font-size: 15px;
    color: #fff;
    background: red;
    border-radius: 50%;
    padding: 1px 5px 2px 5px;
    position: relative;
    left: -8px;
    top: -10px;
    opacity: 0.9;
}

/* floating whatsapp */
.whatsApp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    left: 30px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-whatsApp {
    margin-top: 16px;
    color: white;
}

/* floating language */
.float_language {
    position: fixed;
    width: 30px;
    height: 30px;
    top: 20px;
    left: 10px;
    background-color: rgb(195, 173, 225);
    color: blue;
    border: 1px solid blue;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

@media (max-width: 768px) {
    header {
        min-height: 50px;
    }

    header .burger {
        text-align: right;
        display: flex;
        justify-content: space-between;
    }

    header .burger .space {
        visibility: hidden;
    }

    header nav {
        position: absolute;
        top: 50px;
        right: 0;
        display: none;
        width: 70%;
        background: white;
    }

    header nav img {
        margin: 0 auto;
    }

    header nav a {
        display: block;
        padding: 16px;
        border-bottom: 1px solid gray;
    }

    header nav a:hover {
        background: silver;
    }

    #nav_open {
        z-index: 90;
    }

    .mainAboutAndContact .d-flex {
        display: table-header-group !important;
    }

    .aboutAndContact {
        position: relative;
        display: block;
        justify-content: space-between;
        min-height: 650px;
        color: white;
        margin-bottom: 50px;
    }

    .about p {
        margin-top: 20px;
    }

    .googleMapBuisnessLocation {
        width: 300px;
        height: 200px;
    }

    .shopping_cart .badge {
        position: fixed;
        top: 5px;
        left: 17px;
        color: #47024d;
        text-align: center;
        font-size: 35px;
        z-index: 100;
        background-color: #FFF;
        padding: 5px 0px 0px 5px;
    }
}