* {
    direction: rtl;
}

body {
    min-height: 100vh;
    position: relative;
}

.container {
    max-width: 1100px;
}

.remove-all-margin-padding-bk-white {
    margin: 0 !important;
    padding: 0 !important;
    background-color: white;
}

header {
    min-height: 100px;
    background: white;
}

header .burger {
    display: none;
}

header nav img {
    width: 80px;
    margin: 0 50px;
}

header nav a {
    color: #777;
    font-size: 1.2em;
    text-decoration: none;
    padding: 0 12px;
    font-weight: bold;
}

header nav a:hover {
    color: purple;
}

header nav .userAreaAfterLogin {
    display: none;
}

#checkoutArea {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

#sumOrder, #cartBodyTitle {
    display: none;
    font-size: 1.8rem;
    font-weight: bold;
}

#lineBreakInCheckoutArea {
    display: none;
}

#paypalArea {
    width: 230px;
}

#id_row {
    margin-bottom: 50px;
    margin-top: 15px;
}

#id_row button {
    background-color: rgb(212, 37, 90);
    border: none;
    border-radius: 5px;
    padding: 4px 8px;
    color: white;
    font-size: 1.2rem;
}

.ifCartEmpty {
    margin: auto auto;
    text-align: center;
    font-size: 4rem;
    width: 60%;
    border: 3px solid #ad2196;
    padding: 10px;
}

.ifCartEmpty a {
    margin: auto auto;
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
    color: #e23f83;
}

footer {
    /* position: sticky; - some times is better */
    position: absolute;
    bottom: 0;
}

footer a {
    color: #777;
    font-size: 1.2em;
    text-decoration: none;
    padding: 0 12px;
    font-weight: bold;
}

footer a:hover {
    color: rgb(244, 31, 244);
}

.links {
    background: white;
}

/* floating cart */
.shopping_cart .badge {
    position: fixed;
    top: 17px;
    left: 17px;
    color: #47024d;
    text-align: center;
    font-size: 40px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 0px 0px 5px;
}

.badge:after {
    content: attr(value);
    font-size: 15px;
    color: #fff;
    background: red;
    border-radius: 50%;
    padding: 1px 5px 2px 5px;
    position: relative;
    left: -8px;
    top: -10px;
    opacity: 0.9;
}

/* floating whatsapp */
.whatsApp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    left: 30px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-whatsApp {
    margin-top: 16px;
    color: white;
}

/* floating language */
.float_language {
    position: fixed;
    width: 30px;
    height: 30px;
    top: 20px;
    left: 10px;
    background-color: rgb(195, 173, 225);
    color: blue;
    border: 1px solid blue;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

@media (max-width: 768px) {
    header {
        min-height: 50px;
    }

    header .burger {
        text-align: right;
        display: flex;
        justify-content: space-between;
    }

    header .burger .space {
        visibility: hidden;
    }

    header nav {
        position: absolute;
        top: 50px;
        right: 0;
        display: none;
        width: 70%;
        background: white;
    }

    header nav img {
        margin: 0 auto;
    }

    header nav a {
        display: block;
        padding: 16px;
        border-bottom: 1px solid gray;
    }

    header nav a:hover {
        background: silver;
    }

    #nav_open {
        z-index: 1000;
    }

    #checkoutArea {
        display: block;
    }

    #sumOrder, #cartBodyTitle {
        display: none;
        font-size: 1.2rem;
        font-weight: bold;
    }

    #lineBreakInCheckoutArea {
        display: block;
    }

    .ifCartEmpty {
        font-weight: bold;
        font-size: 2rem;
        width: 70%;
    }

    .ifCartEmpty a {
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 0.7em;
    }

    #paypalArea {
        max-width: 250px;
        margin-bottom: 0px;
    }

    .shopping_cart .badge {
        position: fixed;
        top: 5px;
        left: 17px;
        color: #47024d;
        text-align: center;
        font-size: 35px;
        z-index: 100;
        background-color: #FFF;
        padding: 5px 0px 0px 5px;
    }
}